<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BizPulse</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/font.css')}}" />
</head>
<body>
    <div class="cursor"></div>
    <nav class="navbar">
        <div class="logo">BizPulse</div>
        <a href="#" class="login-btn">Login</a>
    </nav>
    <section class="hero">
        <div>
            <img class="image-gradient" src="../images/image.png" alt="gradient">
            <div class="layer-blur"></div>
            <spline-viewer id="robot-3d" url="https://prod.spline.design/EGxPnBmenc-JZji6/scene.splinecode"></spline-viewer>
        </div>
        <h1>Hey! Yes, You.</h1>
        <p>Tired of losing time on manual bookkeepieng?</p>
        <p class="big-text">Track sales, manage stock, and make smarter decisions with BizPulse</p>
        <div class="buttons">
            <a href="#" class="btn-primary">I'm In!</a>
            <a href="#" class="btn-secondary">Count Me In</a>
        </div>
    </section>
    <section class="features">
        <h2>Why use it?</h2>
        <div class="feature-grid">
            <div class="feature">
                <h3>Easy to use</h3>
                <p>Manage your accounts and stock without any confusion</p>
            </div>
            <div class="feature">
                <h3>Everything in one place</h3>
                <p>Track sales, stock, profits, and investments <br/> everything in a single app</p>
            </div>
            <div class="feature">
                <h3>Secure</h3>
                <p>Your data is protected, giving you peace of mind while running your business</p>
            </div>
        </div>
    </section>
    <section class="call-to-action">
        <h2>Ready to get started?</h2>
        <a href="#" class="btn-primary">Join Now</a><br/>
    </section>
    <h1>We got you</h1>
    

    <footer>
        <p>&copy; 2024 BizPulse. All rights reserved.</p>
    </footer>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.90/build/spline-viewer.js"></script>
    <script src="{{url_for('static',filename='JS/font.js')}}"></script>
</body>
</html>