<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body>
    {% block content %}{% endblock %}

    <script>
        if ('serviceWorker' in navigator) {
            // Use Flask's url_for to point to the sw.js file in the static folder
            // The scope: '/' ensures it controls the entire application.
            navigator.serviceWorker.register('{{ url_for('static', filename='sw.js') }}', { scope: '/' })
                .then(registration => {
                    console.log('Service Worker Registered');
                    window.SW_REGISTRATION = registration; 
                })
                .catch(error => console.error('SW registration failed:', error));
        }
    </script>
    
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>